<h3>編集フォーム</h3>

<%= form_for @project do |f| %>
<p>
  <%= f.label :内容を編集して送信 %><br>
  <%= f.text_field :title %>
  <% if @project.errors.any? %>
  <%= @project.errors.messages[:title][0] %>
  <% end %>
</p>
<p>
  <%= f.submit "送信する", class: "btn btn-default" %>

<% end %>
