<!DOCTYPE html>
<html>
<head>
  <title>長澤まさみメッセンジャー</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse">
      <form class="navbar-form navbar-left">
        <font color=white>長澤まさみメッセンジャー　</font>
        <%# <%= link_to "Home", projects_path, class:"btn btn-info" %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="コメントを書いてね">
        </div>
        <%= link_to "投稿する", new_project_path, class: "btn btn-info" %>
      </form>
  </nav>
<%# <body class="text-center">
<%= image_tag "masami.jpeg", class:"img-circle" %>

<%= yield %>
</body>
</html>
