<!DOCTYPE html>
<html>
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="text-center">
<%= image_tag "masami.jpeg", class:"img-circle" %>
<%= yield %>
<%= link_to "Home", projects_path, class:"btn btn-info" %>
</body>
</html>
